.info-box{
    flex: 1;
}
.info-box:not(:last-child){
    margin-right: 10px;
}
.info-box:hover{
    cursor: pointer;
}
.info-box__title{

}
.info-box__cases{
    font-size: 2rem;
    font-weight: bold;
}
.info-box__total{
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 15px;
}

